*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
  font-size: 62.5%;
  font-family: var(--mainfont);
}



:root{
    --crema: #fffaeb;
    --verde: #f0f0d8;
    --naranja-oscuro: #dbb697;
    --naranja: #e5be9e;
    --marrón: #cbc0ad;
    --verde-claro: #a9b2a2;
    --verde-oscuro: #86a397;
    --negro: #4f4940;
    --mainfont: Inter, sans-serif;
}