.listContainer {
    width: 116rem;
    background-color: var(--crema);
    min-height: 70rem;
    border-radius: 2rem;
    padding: 5rem;
    
    
}

.searchButton {
   width: 6rem; 
height: 6.4rem;
background-color: var(--marron);
border: none;
padding: 0;
}

.searchIcon{
    width: 4rem;
}
.searchInput {
width: 92rem;
height: 6.4rem;
background-color: var(--marron);
border: none;
}


